---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import InfoSection from '../components/sections/InfoSection.astro';
import ScheduleSection from '../components/sections/ScheduleSection.astro';
import CalendarSection from '../components/sections/CalendarSection.astro';
import SupportSection from '../components/sections/SupportSection.astro';
---

<Layout title="HeatSync Labs - Mesa's Community Hackerspace">
  <div class="home">
    <HeroSection />
    <InfoSection />
    <ScheduleSection />
    <CalendarSection />
    <SupportSection />
  </div>
</Layout>

<style>
  .home {
    flex: 1;
  }
</style>

